@model ComedyBookingApp.Models.ViewModels.ComedianVM
@{
    ViewData["Title"] = "Upsert";
    var title = "Create Comedian";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div class="row px-2 mx-2 blackgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Comedian.Id != 0)
        {
            <input type="hidden" asp-for="Comedian.Id" />
            title = "Edit Comedian";
        }

        <div class="col-12">
            <h2 class="text-primary">@title</h2>
            <br />
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Comedian.FirstName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Comedian.FirstName" class="form-control" />
                    <span asp-validation-for="Comedian.FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Comedian.LastName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Comedian.LastName" class="form-control" />
                    <span asp-validation-for="Comedian.LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Comedian.Email"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Comedian.Email" class="form-control" />
                    <span asp-validation-for="Comedian.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Comedian.PhoneNumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Comedian.PhoneNumber" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Comedian.ExperienceYears"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Comedian.ExperienceYears" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Comedian.State"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Comedian.State" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Comedian.City"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Comedian.City" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Comedian.AgentId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Comedian.AgentId, Model.AgentList, "- Select an agent if the comedian has one -", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Comedian.ImageUrl"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Comedian.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Comedian.Id" />
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <button type="submit" onclick="return validateInput()" class="btn btn-info form-control">Create</button>
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-warning form-control">Back to List</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if(Model.Comedian.Id!=0)
        {
            <div class="col-4">
                <img src="@Model.Comedian.ImageUrl" width="300" style="border-radius:5px; border:1px solid #bbb9b9" />

            </div>
        }
    </div>
</form>

@section Scripts{ 
<script>
    function validateInput() {
        if (document.getElementById("uploadBox").value == "") {
            swal("Error", "Please Select an Image", "error")
            return false;
        }
        return true;
    };
</script>
}

