@model ComedyBookingApp.Models.ViewModels.EventVM;
@{
    ViewData["Title"] = "Upsert";
    var title = "Create Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert">
    <div class="row px-2 mx-2 blackgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Event.Id != 0)
        {
            <input type="hidden" asp-for="Event.Id" />
            title = "Edit Event";
        }

        <div class="col-12">
            <h2 class="text-primary">@title</h2>
            <br />
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Event.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Event.Name" class="form-control" />
                    <span asp-validation-for="Event.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Event.Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Event.Price" class="form-control" />
                    <span asp-validation-for="Event.Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Event.Date"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Event.Date" class="form-control" />
                    <span asp-validation-for="Event.Date" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Event.Time"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Event.Time" class="form-control" />
                    <span asp-validation-for="Event.Time" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Event.LongDesc"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Event.LongDesc" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Event.LocationId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Event.LocationId, Model.LocationList, "- Select a venue -", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Event.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Event.Id" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>


