@model ComedyBookingApp.Models.ViewModels.LocationContactVM;
@{
    ViewData["Title"] = "Upsert";
    var title = "Create Venue Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert">
    <div class="row px-2 mx-2 blackgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.LocationContact.Id != 0)
        {
            <input type="hidden" asp-for="LocationContact.Id" />
            title = "Edit Venue Contact";
        }

        <div class="col-12">
            <h2 class="text-primary">@title</h2>
            <br />
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="LocationContact.FName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="LocationContact.FName" class="form-control" />
                    <span asp-validation-for="LocationContact.FName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="LocationContact.LName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="LocationContact.LName" class="form-control" />
                    <span asp-validation-for="LocationContact.LName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="LocationContact.Email"></label>
                </div>
                <div class="col-8">
                    <input asp-for="LocationContact.Email" class="form-control" />
                    <span asp-validation-for="LocationContact.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="LocationContact.PhoneNumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="LocationContact.PhoneNumber" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="LocationContact.LocationId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.LocationContact.LocationId, Model.LocationList, "- Select a venue -", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.LocationContact.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.LocationContact.Id" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

