
@{
    ViewData["Title"] = "Comedians' Shows";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Comedians on Shows</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Upsert" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Create New Comedian on a Show</a>
        </div>
    </div>

    <br />
    <br />

    <table id="tblData" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Comedian's First Name</th>
                <th>Comedian's Last Name</th>
                <th>Show's Name</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/comedianshow.js"></script>
}
