@model ComedyBookingApp.Models.ViewModels.ComedianShowVM

@{
    var title = "Put a new comedian on" + Model.Event.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div class="row px-2 mx-2 blackgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12">
            <h2 class="text-primary">@title</h2>
            <br />
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ComedianShow.EventId">On @Model.Event.Name</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.ComedianShow.EventId, Model.EventList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ComedianShow.ComedianId">New Comedian</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.ComedianShow.ComedianId, Model.ComedianList, "- Select a comedian -", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="row">
                        <div class="col">
                            <button type="submit" asp-action="NewComic" class="btn btn-info form-control">Create</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-warning form-control">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
